div {
  border: 1px solid red;
}

html {
  font-size: 18px;
}

body {
  font-family: helvetica;
  color: white;
}

.logo {
  width: 100%;
  background-color: black;
  font-size: 1rem;
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.logo .container img {
  height: 1.5rem;
}

.main-banner {
  display: flex;
  background: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  background-size: cover;
  height: 25rem;

}

nav {
  background-color: firebrick;
}

.productpic {
  border: 1px black solid;
}

.description {
  background-color: black;
  color: white;
}

.location .hours {
  background-color: black;
  width: 35%;
}







footer {
  height: 5rem;
  background-color: black;
  text-align: left;
  width: 100%;
}
